<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cpoissonnier.ngrok</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0CF1EB9E-48FB-49CF-976F-1BEE4968AE4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F02F21C-3A5E-4FD3-AE20-8486E804791D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>12EB6F65-6B27-431C-8F1B-3E0276F75AE2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51D3F280-35BC-47AF-A42A-1E812E8DB2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19AA0A52-F071-439A-A7C4-5564FD047A67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5209EEF8-657A-4A7E-BD7D-C1DD59A92B78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B41816B3-2BB7-4221-8967-B5AC58744FB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CF1EB9E-48FB-49CF-976F-1BEE4968AE4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>12EB6F65-6B27-431C-8F1B-3E0276F75AE2</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>get ngrok tunnel sub-domain and copy it in clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C89C9C53-FC49-46A8-AA1C-9F3F55245CF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8EDA9AC2-3202-4CD4-B932-98C90F49994D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3955CDB-7AE5-4B8D-BBA1-3D05B96D203D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E861FDC6-C423-41D2-B2E2-0929486DAF65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5057ED1-8C0E-4E46-A6F8-89BB38C09F7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19AA0A52-F071-439A-A7C4-5564FD047A67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E861FDC6-C423-41D2-B2E2-0929486DAF65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15A6661D-8FF6-4FDE-B4D7-D691129B4544</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Clément Poissonnier</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ngrok</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ngrok inspect</string>
				<key>subtext</key>
				<string>Open ngrok request inspector</string>
				<key>text</key>
				<string>inspect</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C89C9C53-FC49-46A8-AA1C-9F3F55245CF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://localhost:4040/inspect/http</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8EDA9AC2-3202-4CD4-B932-98C90F49994D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ngrok http</string>
				<key>subtext</key>
				<string>Create an http tunnel</string>
				<key>text</key>
				<string>http &lt;port&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5057ED1-8C0E-4E46-A6F8-89BB38C09F7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/usr/local/bin/:$PATH"
ngrok http {query} --log=stdout &gt; ngrok.log &amp;
sleep 2
curl --silent --show-error http://127.0.0.1:4040/api/tunnels | sed -nE 's/.*public_url":"([^"]*).*/\1/p' | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19AA0A52-F071-439A-A7C4-5564FD047A67</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>HTTP Tunnel created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5209EEF8-657A-4A7E-BD7D-C1DD59A92B78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH="/usr/local/bin/:$PATH"
ngrok tcp {query} --log=stdout &gt; ngrok.log &amp;
sleep 2
curl --silent --show-error http://127.0.0.1:4040/api/tunnels | sed -nE 's/.*public_url":"([^"]*).*/\1/p' | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E861FDC6-C423-41D2-B2E2-0929486DAF65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TCP tunnel created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>15A6661D-8FF6-4FDE-B4D7-D691129B4544</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ngrok tcp</string>
				<key>subtext</key>
				<string>Create a tcp tunnel</string>
				<key>text</key>
				<string>tcp &lt;port&gt;</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D3955CDB-7AE5-4B8D-BBA1-3D05B96D203D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>ngrok URL ({query}) pasted in clipboard</string>
				<key>title</key>
				<string>Tunnel URL fetched</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F02F21C-3A5E-4FD3-AE20-8486E804791D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ngrok url</string>
				<key>subtext</key>
				<string>get ngrok tunnel url and copy it in clipboard</string>
				<key>text</key>
				<string>url</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B41816B3-2BB7-4221-8967-B5AC58744FB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl --silent --show-error http://127.0.0.1:4040/api/tunnels | sed -nE 's/.*public_url":"([^"]*).*/\1/p' | tr -d '\n' | pbcopy
pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CF1EB9E-48FB-49CF-976F-1BEE4968AE4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl --silent --show-error http://127.0.0.1:4040/api/tunnels | sed -nE 's/.*public_url":"https:..([^"]*).ngrok.*/\1/p'| tr -d '\n' | pbcopy
pbpaste</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>12EB6F65-6B27-431C-8F1B-3E0276F75AE2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>ngrok sub-domain ({query}) pasted in clipboard</string>
				<key>title</key>
				<string>Tunnel sub-domain fetched</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>51D3F280-35BC-47AF-A42A-1E812E8DB2E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CF1EB9E-48FB-49CF-976F-1BEE4968AE4A</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>12EB6F65-6B27-431C-8F1B-3E0276F75AE2</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>15A6661D-8FF6-4FDE-B4D7-D691129B4544</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>19AA0A52-F071-439A-A7C4-5564FD047A67</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>51D3F280-35BC-47AF-A42A-1E812E8DB2E0</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>5209EEF8-657A-4A7E-BD7D-C1DD59A92B78</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>5F02F21C-3A5E-4FD3-AE20-8486E804791D</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>8EDA9AC2-3202-4CD4-B932-98C90F49994D</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B41816B3-2BB7-4221-8967-B5AC58744FB5</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>C89C9C53-FC49-46A8-AA1C-9F3F55245CF0</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D3955CDB-7AE5-4B8D-BBA1-3D05B96D203D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E5057ED1-8C0E-4E46-A6F8-89BB38C09F7B</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>E861FDC6-C423-41D2-B2E2-0929486DAF65</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/cpoissonnier</string>
</dict>
</plist>
